<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.diffmerge.bridge.examples.apa.diagramActions"
            objectClass="org.eclipse.gef.EditPart">
         <menu
               id="org.eclipse.emf.diffmerge.bridge.examples.menu"
               label="Bridge"
               path="additions">
            <groupMarker
                  name="group">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.emf.diffmerge.bridge.examples.apa.actions.APABridgeAction"
               enablesFor="1"
               id="org.eclipse.emf.diffmerge.bridge.examples.apa.actions.GoUp"
               label="To APA with Mapping"
               menubarPath="org.eclipse.emf.diffmerge.bridge.examples.menu/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
