<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BridgeTraces -->
      <package
            uri="http://www.eclipse.org/emf/diffmerge/bridge/1.0.0/traces"
            class="org.eclipse.emf.diffmerge.bridge.traces.gen.bridgetraces.BridgetracesPackage"
            genModel="model/BridgeTraces.genmodel"/>
   </extension>

</plugin>
